
#Folders
.DS_Store
Bytecode VM/Bytecode VM/Bytecode VM.xcodeproj/
Compiler/build/.vs/
Compiler/.vs/
Compiler/rwc/target/

#Editor files
Rowan.code-workspace
.vscode/settings.json
Compiler/rwc.sln

#Build files
*.obj
*.ilk
*.pdb
*.exe
*.out